body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    header {
        display: flex;
        flex-direction: row;
        height: 10vh;
        padding: 0 1rem;
        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            > img {
                height: 60%;
            }
            > h1 {
                font-size: 1.2rem;
                margin: 0 1rem;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 240, 240, 1);  
        section.home {
            display: flex;
            flex-direction: column;
            height: 90vh;
            background-image: url('../home.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            margin-bottom: 1rem;
        } 
        section.contactbanner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            padding: 2rem 0;
            > p {
                font-size: 2rem;
                text-align: center;
                margin: 2rem;
            }
            > div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 2rem;
                background-color: rgba(220, 0, 0, 1);
                > img {
                    width: 25px;
                    fill: white;
                }
                > span {
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin: 0 1rem;
                    color: white;
                }
            }
        }
        section.services {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1600px;
            margin: 0 auto;
            article.card {
                display: flex;
                flex-direction: column;
                background-color: white;
                color: rgba(10,10,10,1);
                margin: 1rem;
                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                flex-basis: calc(100% - 2rem);
                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    > h3 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 2rem;
                        text-align: center;
                        max-width: 80%;
                        margin: 0;
                        height: 6rem;
                    }
                    > p {
                        overflow: hidden;
                        font-size: 1.2rem;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        white-space: normal;
                        margin: 2rem 0 0 0;
                    }
                    &:nth-of-type(1) {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 12rem;
                    }
                    &:nth-of-type(2) {
                        border-top: .5rem solid rgba(220, 0, 0, 1);
                        background-color: rgba(255, 255, 255, 1);
                        padding: 2rem;
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 1rem 0;
        background-color: rgba(240, 240, 240, 1);
        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 2rem;
            > img {
                width: 100px;
                height: 100px;
                margin: 2rem;
            }
        }
    }
}

@media screen and (min-width: 678px) {
    body main section.contactbanner {
       flex-direction: row;
       justify-content: center;
    }
}

@media screen and (min-width: 678px) {
    body main section.services article.card {
        flex-basis: calc(50% - 2rem);
    }
}

@media screen and (min-width: 992px) {
    body main section.services article.card {
        flex-basis: calc(33.3333% - 2rem);
    }
}

@media screen and (min-width: 1024px) {
    body main section.services article.card {
        flex-basis: calc(25% - 2rem);
    }
}
